body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Gotham';
}

:root {
    --dark-grey: #333333;
    --light-grey: #808080;
    --yellow: #FFB612;
    --red: #DC0A17;
    --green: #2FC022;
    --extra-light-grey: #EDEDED;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}