<div class="container legend">
    <div class="legend-content">
        <div class="legend-category">
            <h4 class="category-name">Máscara</h4>
            <div class="items">
                <div class="item">
                    <img src="/assets/images/required-mask.png"/>
                    Obrigatório
                </div>
                <div class="item">
                    <img src="/assets/images/recommended-mask.png"/>
                    Recomendado
                </div>
            </div>
        </div>
        <div class="legend-category">
            <h4 class="category-name">Toalha</h4>
            <div class="items">
                <div class="item">
                    <img src="/assets/images/required-towel.png"/>
                    Obrigatório
                </div>
                <div class="item">
                    <img src="/assets/images/recommended-towel.png"/>
                    Recomendado
                </div>
            </div>
        </div>
        <div class="legend-category">
            <h4 class="category-name">Bebedouro</h4>
            <div class="items">
                <div class="item">
                    <img src="/assets/images/partial-fountain.png"/>
                    Parcial
                </div>
                <div class="item">
                    <img src="/assets/images/forbidden-fountain.png"/>
                    Proibido
                </div>
            </div>
        </div>
        <div class="legend-category">
            <h4 class="category-name">Vestiários</h4>
            <div class="items">
                <div class="item">
                    <img src="/assets/images/required-lockerroom.png"/>
                    Liberado
                </div>
                <div class="item">
                    <img src="/assets/images/partial-lockerroom.png"/>
                    Parcial
                </div>
                <div class="item">
                    <img src="/assets/images/forbidden-lockerroom.png"/>
                    Fechado
                </div>
            </div>
        </div>
    </div>
</div>