<form class="container" [formGroup]="formGroup">
    <div class="form-content">
        <div class="title">
            <img src="/assets/images/icon-hour.png"/>
            <h4>Horário</h4>
        </div>
        <h2>Qual período quer treinar?</h2>
        <div class="options-list">
            <div class="option">
                <div>
                    <input type="radio" name="period" value="morning" formControlName="period"/>
                    <label>Manhã</label>
                </div>
                <p>06:00 às 12:00</p>
            </div>
            <div class="option">
                <div>
                    <input type="radio" name="period" value="afternoon" formControlName="period"/>
                    <label>Tarde</label>
                </div>
                <p>12:01 às 18:00</p>
            </div>
            <div class="option">
                <div>
                    <input type="radio" name="period" value="night" formControlName="period"/>
                    <label>Noite</label>
                </div>
                <p>18:01 às 23:00</p>
            </div>
        </div>
        <div class="footer">
            <div>
                <input type="checkbox" name="showClosedUnits" formControlName="showClosedUnits">
                Exibir unidades fechadas
            </div>
            <p>Resultados encontrados: <span>{{ units.length }}</span></p>
        </div>
        <div class="buttons">
            <button class="btn btn-primary" (click)="onSubmit()">ENCONTRAR UNIDADE</button>
            <button class="btn btn-outline-grey" (click)="onClean()">LIMPAR</button>
        </div>
    </div>
</form>