<form class="container">
    <div class="title">
        <img src="/assets/images/icon-hour.png"/>
        <h4>Horário</h4>
    </div>
    <h2>Qual período quer treinar?</h2>
    <div class="options-list">
        <div class="option">
            <div>
                <input type="radio"/>
                <label>Manhã</label>
            </div>
            <p>06:00 às 12:00</p>
        </div>
        <div class="option">
            <div>
                <input type="radio"/>
                <label>Tarde</label>
            </div>
            <p>12:01 às 18:00</p>
        </div>
        <div class="option">
            <div>
                <input type="radio"/>
                <label>Noite</label>
            </div>
            <p>18:01 às 23:00</p>
        </div>
    </div>
    <div class="footer">
        <div>
            <input type="checkbox" name="displayClosedUnits">
            Exibir unidades fechadas
        </div>
        <p>Resultados encontrados: <span>0</span></p>
    </div>
    <div class="buttons">
        <button class="btn btn-primary">ENCONTRAR UNIDADE</button>
        <button class="btn btn-outline-grey">LIMPAR</button>
    </div>
</form>