<header>
    <div>
        <img src="/assets/images/logo.svg"/>
    </div>
</header>
<div class="container">
    <div class="header-page">
        <h1 class="header-page-title">REABERTURA<br/>SMART FIT</h1>
        <span class="header-page-underscore"></span>
        <p class="header-page-p">O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso, confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.</p>
    </div>
</div>